.fondo1{
    background: lightblue;
}

.fondo2{
    background: lightgray;
}

.fondo3{
    background: lightsalmon;
}

.fondo4{
    background: lightcoral;
}

.fondo5{
    background: lightcyan;
}

.medida_cm{
    border: blue 1px solid;
    height: 3cm;
}

.marco{
    border: gray 1px solid;
    height: 2cm;
    background: #f7f5f5;
}

.fondo_barra{
    background-color: #9ab0fc;
}